* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background-color: #F6F6F6;
}

/*
CSS Colours Template
    Primary Color: #16423C
    Secondary Color: #4B827B
    Tertiary Color: #FBFBFB / #ADCDC8

    Danger Color: #B22222 / #CD5C5C (Hover)
    Success Color: #32CD32
    Disabled Color: #6e6d6d
*/

.alert-danger {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #B22222;
    border-radius: 4px;
    color: #B22222;
}

.alert-success {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #32CD32;
    border-radius: 4px;
    color: #32CD32;
}

.text-danger {
    color: #B22222;
    padding: 2px
}

/* Navbar Styling */

.navbar {
    background-color: #16423C;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #FBFBFB;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 105px;
}

.navbar-left img {
    margin-right: 10px;
}

.navbar-left a {
    color: #FBFBFB;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 0;
    position: relative;
    font-weight: bold;
}

.navbar-left a:hover {
    color: #ADCDC8;
}

.navbar-left a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FBFBFB;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 105px;
}

.navbar-right-text {
    margin-right: 15px;
    color: #FBFBFB;
    font-weight: bold;
}

.logout-button {
    background-color: #ADCDC8;
    color: #16423C;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #4B827B;
    color: #ADCDC8;
}

h1 {
    margin-left: 105px;
    margin-top: 30px;
    color: #16423C;
}

h2 {
    text-align: center;
    color: #16423C;
}

.section-container {
    padding: 0 105px;
    padding-bottom: 5%;
    margin-top: 20px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    padding: 8px 12px;
    font-size: 16px;
    width: 300px;
}

.input-wrapper {
    position: relative;
}

.input-wrapper ion-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color:  #16423C
}

.input-wrapper input {
    padding: 8px 12px 8px 35px;
    font-size: 16px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background-color: #FBFBFB;
    border: None;
    width: 300px;
}

.create-button {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-button,
.create-button {
    font-size: 16px;
    padding: 7px 20px;
    background-color: #16423C;
    color: #FBFBFB;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

.search-button:hover,
.create-button:hover {
    background-color: #ADCDC8;
    color: #16423C;
    transition: 0.2s ease;
}


/* Table CSS Style */

.display-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FBFBFB;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.display-table td:last-child {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.display-table button {
    display: flex;
    align-items: center;
    gap: 12px;
}

.display-table button + button {
    margin-left: 5px;
}


.display-table thead {
    background-color: #ADCDC8;
    font-weight: bold;
    color: #16423C;
}

.display-table th,
.display-table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 0.5px solid #4B827B;
    color: #16423C;
}

.display-table .suspended-yes {
    color: #B22222;
    font-weight: bold;
}

.suspended-no {
    color: #16423C;
    font-weight: bold;
}

.view-button {
    background-color: #16423C;
    color: #FBFBFB;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration:none;
}

.view-button:hover {
    background-color: #ADCDC8;
    color: #16423C
}

.delete-button {
    background-color: #B22222;
    color: #FBFBFB;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration:none;
}

.delete-button:hover {
    background-color: #CD5C5C;
    color: #FBFBFB;
}

/* Form CSS Styling */

.form-container {
    position: relative;
    width: 540px;
    height: auto;
    max-width: 600px;
    margin: auto;
    margin-top: 5%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.form-container img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
    color: #16423C;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ADCDC8;
    color: #16423C;
    border-radius: 6px;
    margin-top: 6px;
}

.form-group input[readonly] {
    background-color: #6e6d6d;
    color: #FBFBFB;
    cursor: not-allowed;
}

.form-group {
    margin-bottom: 20px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ADCDC8;
    border-radius: 6px;
    margin-top: 6px;
    font-size: 1em;
    color: #16423C;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2316423C" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 16px; /* Adjust size as needed */
}

.form-group select option {
    padding: 8px;
    font-size: 1em;
    color: #16423C;
    background-color: #FBFBFB; /* Ensure white background for options */
}

.form-group select:focus {
    border-color: #16423C;
    outline: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.submit-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
}

.suspend-button {
    background-color: #B22222;
    color: #FBFBFB;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 25%;
}

.suspend-button:hover {
    background-color: #CD5C5C;
    color: #FBFBFB;
}

.suspend-button-disabled {
    background-color: #6e6d6d;
    color: #FBFBFB;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 25%;
}

.back-button {
    flex: 1;
    background-color: #FBFBFB;
    color: #16423C;
    border: 2px solid #16423C;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    text-align: center;
    text-decoration: none;
}

.back-button:hover {
    background-color: #ADCDC8;
    border: 2px solid #16423C;
}

.submit-button {
    flex: 1;
    background-color: #16423C;
    color: #FBFBFB;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submit-button-disabled {
    flex: 1;
    background-color: #6e6d6d;
    color: #FBFBFB;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: default;
}

.submit-button:hover {
    background-color: #ADCDC8;
    color: #16423C;
}